/*
	The NavBar was modified from the following codepen...
	https://codepen.io/renaudtertrais/pen/qtico 
	Originally Made by Renaud Tertrais
	
	We removed the a tags, reworked the CSS to not key off of them
	and made it go full screen.  It was tricker than expected!  

	blue-gray 			: #34495e;
	blue-gray-darken 	: #2c3e50;
	light-blue          : #d3e9f7;
	blue 				: #3498db;
	blue-darken 		: #2980b9;
	green 				: #1abc9c;
	green-darken 		: #16a085;

*/

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.container {
	padding: 10px 0 10px 22px;
}
body {
  text-align: center;
  background-color: #34495e;
}

header {
	display: flex;
	flex-direction: column;
}

header h1 {
	padding: 15px 0 0 0;
	float:left;
}

header h1 span {
	font-size: 30px;
}

.color-blue {
	color: #3498db;
}

.color-green {
	color: #1abc9c;
}

.container {
	background-color: rgba(240,240,240, 90%);
	height: 60vh;
	margin-top: 20vh;

}
.verify {
	height: 80vh;
	margin-top: 10vh;
}


/*BREAD CRUMB NAV MENU */
#breadcrumb {	
  list-style: none;
  display:flex;
  align-content: space-around;
}

#breadcrumb li {
  float: left;
  color: #FFF;
  display: block;
  background: #3498db;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  width:18%;
  font-size: 24px;
  text-transform: uppercase;
}

#breadcrumb li:nth-child(even) {
  background-color: #2980b9;
}

#breadcrumb li:nth-child(even):before {
  border-color: #2980b9;
  border-left-color: transparent;
}

#breadcrumb li:nth-child(even):after {
  border-left-color: #2980b9;
}

#breadcrumb li:first-child {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}

#breadcrumb li:first-child:before {
  border: none;
}

#breadcrumb li:last-child {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}

#breadcrumb li:last-child:after {
  border: none;
}

#breadcrumb li:before, #breadcrumb li:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3498db;
}

#breadcrumb li.active,
#breadcrumb li.activate-links:hover {
  background-color: #16a085;
}
#breadcrumb li.active:before,
#breadcrumb li.activate-links:hover:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb li.active:after,
#breadcrumb li.activate-links:hover:after {
  border-left-color: #16a085;
}
.activate-links {
	cursor: pointer;
}
/*
	CONFIGURE PAGE
*/
.configure-main-section {
	height:80%;
	margin:auto;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}
.configure-container {
	width:95%;
	height:90%;
	background-color: #d3e9f7;
	border-radius: 10px;
	padding:10px;
	margin:0;
	color: #2c3e50;
	display:flex;
	justify-content: space-between;
}
.configure-container button {
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 5px 15px 5px;
	font-size: 11px;
}
.configure-left-column {
	width: 22%;
}

.configure-middle-column {
	width: 22%;
}
.configure-right-column {
	width: 47%;
}
.data-field-text-box {
	display:flex;
	justify-content: flex-start;
	background-color: #FFF;
	border-radius: 5px;
	height:80%;
	margin: 10px 0;
	padding: 10px;
}
.data-field-text-box ul {
	list-style: none;
}
.configure-final-button {
	width:100%;
	display:flex;
	justify-content: flex-end;
	padding: 10px 150px;
}

.configure-final-button button {
	padding-left: 50px;
	padding-right: 50px;
	font-size: 16px;
	margin-bottom: 0;
}
#data-field-list {
	width: 100%;
	text-align: left;
}
#meta-data-text-box {
	display: flex;
	flex-direction: column;
}
.data-field-metadata-list li  {
	list-style: none;
    width: 100%;
	font-size: 12px;
	color: #2c3e50;
	width: 100%;
	text-align: left;
	line-height: 14px;
}
.data-field-list-item {
	list-style: none;
    padding: 5px;
    width: 100%;
	font-size:16px;
	color: #2c3e50;
	width: 100%;

}

.data-field-list-item:hover {
	border-radius: 2px;
	background-color: #2c3e50;
	color: #fff;
	cursor: pointer;
}
.modal-dialog {
	display:flex;
	align-items: center;
	margin-left: 10vw;
}
.modal-body {
	width: 80vw;
}
.modal-content {
	background-color: #d3e9f7;
	color: #2c3e50;
	height: 55vh;
	width: 80vw;
	margin-top: 20vh;
}

.modal-footer {
	padding-right: 20%;
}
.form-group input {
	width: 300px;
	margin:auto;
}
.test-body {
	display: flex;
}
.add-test-chart {
	width: 65%;
}
.test-type {
	width: 30%;
}
#chart-div {
	padding:40px;
}


/*
	VERIFY PAGE
*/

/*.verify-main-section {
	height:50%;
	margin:-40px 20px -50px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}*/


.verify-container {
	width:95%;
/*	height:40%;*/
	background-color: #d3e9f7;
	border-radius: 10px;
	padding:10px;
/*	margin-bottom: -50px;
	margin-top: -80px;*/
	color: #2c3e50;
	display:flex;
	justify-content: space-between;
}

.verify-final-button {
	width:100%;
	display:flex;
	justify-content: flex-end;
	padding: 10px 150px;
}
#verify-button {
	padding: 7px 25px;
}
.verify-column {
	width: 100%;
}

.verify-left-column {
	width: 33%;
}

.verify-middle-column {
	width: 33%;
}
.verify-right-column {
	width: 33%;
}

#data-field-list1 {
	width: 100%;
	text-align: left;
}


.verify-table {
	border: none;
	text-align: center;
	padding: 7px 20px;
}

.selected-qc-test {
	color:red;
}

#metadata-field {
	display:flex;
	flex-direction:column;
	align-items: flex-start;
}
.qc-test {
	cursor: pointer;
	color: #2c3e50;
}

.selected-qc-test {
	width: 100%;
	border-radius: 2px;
	background-color: #2c3e50;
	color: #fff;
	
}

.qc-test:hover {
	width: 100%;
	border-radius: 2px;
	background-color: #d3e9f7;
	color: #2c3e50;
}

.large-fa-icon {
	font-size: 65px;
}
